<div class="w-section footer-section">
    <div class="w-row">
        <div class="w-col w-col-6"></div>
        <div class="w-col w-col-6"><a href="http://www.gokhanguney.co" target="_blank">by GG</a>
        </div>
    </div>
</div>