{% extends "AdminBundle:layouts:app.html.twig" %}
    {% block content %}
        {% embed "AdminBundle:partials:formDiv.html.twig" %}
            {% block formDiv %}
                {{ form_start(form) }}
                        {{ form_widget(form) }}
                <input type="submit" value="Create" />
                {{ form_end(form) }}
                <ul>
                    <li>
                        <a href="{{ path('role_index') }}">Back to the list</a>
                    </li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
