body {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #f9690e;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.body-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  background-color: #ececec;
}

.navbar {
  position: relative;
  left: -140px;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 100%;
  float: left;
  background-color: #ebebeb;
  box-shadow: 2px 0 6px -2px rgba(0, 0, 0, .5);
}

.nav-menu {
  display: inline-block;
}

.menu-button {
  display: block;
  width: 60px;
  height: 48px;
  padding: 0px;
  float: right;
  background-color: transparent;
  color: #333;
  font-size: 66px;
  line-height: 44px;
  text-align: center;
}

.nav-link {
  position: static;
  display: inline-block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
  border-bottom: 1px solid #2ecc71;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #2c3e50;
  font-size: 16px;
  font-weight: 300;
}

.nav-link.w--current {
  background-color: #2ecc71;
  font-weight: 500;
}

.nav-link.bottom {
  border-bottom-color: #f62459;
}

.nav-link.bottom:hover {
  background-color: rgba(246, 36, 89, .2);
}

.nav-link.bottom.w--current {
  background-color: #f62459;
}

.nav-link.single:hover {
  background-color: rgba(46, 204, 113, .2);
}

.brand-text-block {
  display: block;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
  color: #fff;
  font-size: 30px;
  line-height: 28px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-shadow: 1px 0 0 red, -1px 0 0 #0014ff, 0 -1px 6px #fff500, 0 1px 0 #3f0;
}

.main-section {
  position: absolute;
  left: -140px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 200px;
  padding-top: 0px;
  float: left;
  background-color: #fff;
}

.main-container {
  position: relative;
  display: block;
  overflow: auto;
  width: 94%;
  height: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0px;
}

.brand-link {
  width: 140px;
  height: 60px;
  float: left;
}

.navbar-fat-div {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 140px;
  height: 84%;
  float: left;
}

.navbar-thin-div {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 84%;
  margin-top: 0px;
  text-align: center;
}

.navbar-thin-link {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  float: left;
  box-shadow: 0 11px 0 -10px #2ecc71;
}

.navbar-thin-link.w--current {
  background-color: #2ecc71;
  box-shadow: none;
}

.navbar-thin-link.bottom {
  box-shadow: 0 11px 0 -10px #f62459;
}

.navbar-thin-link.bottom.w--current {
  background-color: #f62459;
  box-shadow: none;
}

.dropdown-toggle {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  padding-bottom: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dropdown-toggle:hover {
  background-color: rgba(46, 204, 113, .2);
}

.dropdown-toggle.w--open {
  box-shadow: inset 0 -15px 0 -10px #2ecc71;
  font-weight: 300;
}

.navbar-thin-image {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.navbar-thin-image:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.dropdown-list.w--open {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, .05);
  box-shadow: inset 0 7px 4px -6px rgba(0, 0, 0, .5);
}

.navbar-top {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  height: 48px;
  margin-top: 0px;
  padding: 10px 20px;
  background-color: #ebebeb;
}

.menu-image {
  width: auto;
  height: 30px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.menu-image:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main-div {
  width: 96%;
  height: 100%;
}

.heading-2 {
  margin-top: 0px;
  color: #2c3e50;
  font-weight: 500;
}

.dropdown-link {
  display: block;
  width: 33%;
  margin-right: -1px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.dropdown-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.dropdown-link-text {
  color: #333;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.form-div {
  display: block;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
}

.form-div-title {
  height: 50px;
  border-bottom: 1px solid #b3b3b3;
  background-color: #ffd93f;
}

.form-div-sub {
  padding: 20px;
  background-color: #f5f5f5;
}

.form-title-big-heading {
  height: 36px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 700;
}

.form-title-small-heading {
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 48px;
}

.button {
  height: 40px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgba(0, 0, 0, .2);
}

.button.submit {
  margin-right: 4px;
  margin-left: 4px;
  float: right;
  background-color: #36d7b7;
}

.button.submit:hover {
  background-color: #1ebdb3;
}

.button.cancel {
  float: right;
  background-color: #e74c3c;
}

.button.cancel:hover {
  background-color: #cf3424;
}

.button.bad {
  padding: 6px 13px;
  float: right;
  border: 3px solid #c0392b;
  color: #c0392b;
}

.button.bad:hover {
  background-color: #c0392b;
  background-image: none;
  color: #fff;
}

.button.back {
  float: right;
  color: #2c3e50;
  font-weight: 600;
}

.button.back:hover {
  background-color: transparent;
  color: #142638;
  font-weight: 700;
}

.text-field {
  border-style: none none solid;
  border-width: 1px;
  border-color: #d5d5d5 #d5d5d5 #b1b1b1;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.text-field:hover {
  box-shadow: 0 0 1px 0 #3498db;
}

.text-field:focus {
  box-shadow: 0 0 6px 0 #3498db;
}

.checkbox {
  width: 14px;
  height: 14px;
  margin-top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-button {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: -16px;
  -webkit-transform: skew(20deg, 4deg);
  -ms-transform: skew(20deg, 4deg);
  transform: skew(20deg, 4deg);
}

.navbar-fat-bottom-div {
  position: absolute;
  bottom: 0px;
  height: 20%;
  float: left;
}

.navbar-thin-bottom-div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 60px;
  height: 20%;
  float: left;
}

.nav-link-text {
  padding: 14px 40px 10px 20px;
  color: #333;
}

.navbar-fat-thin-wrapper {
  width: 260px;
  height: 100%;
  margin-top: 60px;
}

.form-label {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}

.checkbox-field {
  width: 50%;
  padding-left: 22px;
  float: left;
}

.checkbox-label {
  margin-left: 4px;
}

.radio-button-label {
  margin-left: 4px;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.dropdown-toggle-icon {
  width: 32px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 0px;
  border-radius: 16px;
  color: #333;
  font-size: 28px;
  line-height: 28px;
}

@media (max-width: 991px) {
  .menu-button {
    display: none;
  }
  .brand-text-block {
    width: 60px;
  }
  .main-container {
    width: 96%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .brand-link {
    position: relative;
    left: 140px;
    width: 60px;
  }
  .navbar-fat-div {
    display: none;
  }
  .navbar-thin-div {
    left: 140px;
    top: 0px;
    bottom: 0px;
    display: block;
  }
  .navbar-thin-link.w--current {
    background-color: #27ae60;
    box-shadow: none;
  }
  .main-div {
    width: 92%;
  }
}

@media (max-width: 767px) {
  .main-container {
    padding-right: 8px;
    padding-left: 8px;
  }
  .main-div {
    width: 88%;
  }
}

@media (max-width: 479px) {
  .navbar {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .5);
  }
  .main-section {
    left: 0px;
    margin-top: 60px;
    margin-left: 0px;
  }
  .main-container {
    display: block;
    padding-right: 8px;
    padding-left: 8px;
  }
  .brand-link {
    left: 0px;
  }
  .navbar-thin-div {
    position: absolute;
    left: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 80%;
    height: 60px;
    margin-top: 0px;
    padding-top: 10px;
  }
  .navbar-thin-link {
    width: 16%;
    margin-bottom: 8px;
    float: left;
    box-shadow: none;
  }
  .navbar-thin-link.w--current {
    height: 100%;
  }
  .navbar-thin-link.bottom {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
    float: left;
    clear: left;
    box-shadow: none;
  }
  .navbar-thin-image.bottom {
    height: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .main-div {
    width: 100%;
  }
  .navbar-thin-bottom-div {
    position: absolute;
    left: auto;
    top: 0px;
    display: inline-block;
    width: 30px;
    height: 60px;
    float: right;
  }
}

